<div class="rmd-container" ng-controller="UserController">
  <h3> All Your Purchased Advertisement </h1></br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Specification</th>
        <th>Shipping from</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "eachAd in purchasedAd">
        <td> {{eachAd.adId.name}}</td>
        <td> {{eachAd.adId.specification}}</td>
        <td> {{eachAd.adId.shipping}}</td>
        <td> {{eachAd.quantityEntered}}</td>
        <td> {{eachAd.totalPrice}}</td>
      </tr>
    </tbody>
  </table>
</div>
