<body>
    <!-- START Template Header-->
    <header id="header" class="navbar">
      <!-- START navbar header-->
      <div class="navbar-header">
        <!-- Brand-->
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><font color="white">Interviewer</font></a>
        <!-- / Brand-->
      </div>
      <!-- / END navbar header-->
      <div class="navbar-toolbar clearfix">
        <!-- START Right nav-->
        <ul class="nav navbar-nav navbar-right">
          <!-- Profile dropdown-->
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
          <li class="navbar-main"><a href="javascript:void(0);" data-toggle="sidebar" data-direction="rtl" rel="tooltip" title="Feed / contact sidebar"><span class="meta"><span class="icon"><i class="ico-users3"></i></span></span></a></li>
          <!-- / Offcanvas right-->
        </ul>
        <!-- / END Right nav-->
      </div>
      <!-- / END Toolbar-->
    </header>
    <!-- / END Template Header-->
    <!-- START Template Main-->
    <section id="main" role="main">
      <!-- START Layerslider-->
      <section id="layerslider" style="width:100%; height:553px;">
        <!-- Slide #1-->
        <div data-ls="transition2d:1; slidedelay:8000;" class="ls-slide">
          <!-- slide background--><img src="/dist/image/layerslider/bg3.png" class="ls-bg">
          <!-- / slide background-->
          <!-- Layer #1--><img style="top:90px;left:68%;" src="/dist/image/layerslider/layer/people2.png" data-ls="delayin:1000; easingin:easeOutElastic;" class="ls-l">
          <!-- / Layer #1-->
          <!-- Layer #2-->
          <h1 style="top:110px;left:150px;" data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;" class="ls-l font-alt">Welcome To<span class="text-primary">Interviewer</span></h1>
          <!-- / Layer #2-->
          <!-- Layer #3-->
          <h4 style="top:170px;left:150px;width:550px;" data-ls="offsetxin:0; durationin:2000; delayin:2000; easingin:easeOutElastic; rotatexin:90; transformoriginin:50% top 0; offsetxout:-400;" class="ls-l">Interviewer is developed with the thought of easing the hiring process for your company.</h4>
          <!-- / Layer #3-->
          <!-- Layer #4-->
          <p style="top:230px;left:150px;width:550px;" data-ls="offsetxin:0; durationin:2000; delayin:2500; easingin:easeOutElastic; rotatexin:90; transformoriginin:50% top 0; offsetxout:-400;" class="ls-l text-default">
            Interview is designed for generating template hiring process for multiple candidates
            which saves time and helps in the
            elimination process.
          </p>
          <!-- / Layer #4-->
          <!-- Layer #5--><a href="/signup" style="top:310px; left:150px;" data-ls="offsetxin:0; durationin:2000; delayin:3000; easingin:easeOutElastic; rotatexin:90; transformoriginin:50% top 0; offsetxout:-400;" class="ls-l btn btn-primary">Sign Up Now<i class="ico-angle-right ml5"></i></a>
          <!-- / Layer #5-->
          <!-- Layer #6--><img style="top:320px;left:300px;" src="/dist/image/layerslider/layer/arrow.png" data-ls="delayin:3500; offsetxin:0; offsetyin:-30; easingin:easeOutElastic;" class="ls-l">
          <!-- / Layer #6-->
        </div>
        <!-- Slide #1-->
      </section>
      <!-- / END Layerslider-->
      <!-- START Call To Action Section-->
      <section class="pt35 pb35 bgcolor-accent">
        <div class="container">
          <div class="col-sm-9">
            <h3 class="font-alt text-white nm mt3">Interviewer is an easy to use and responsive website</h3>
          </div>
          <div class="mb15 visible-xs"></div>
        </div>
      </section>
      <!-- END Call To Action Section-->
      <!-- START Features Section-->
      <section class="section bgcolor-white">
        <div class="container">
          <!-- START Section Header-->
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center">
                <h1 class="section-title font-alt mb25">Awesome Features</h1>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <h4 class="thin text-muted text-center">The key features of Interviewer is listed below.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / END Section Header-->
          <!-- START row-->
          <div class="row">
            <div class="col-md-4">
              <div data-toggle="waypoints" data-showanim="fadeInRight" data-trigger-once="true" class="table-layout animation">
                <div class="col-xs-2 valign-top"><img src="/dist/image/icons/responsivewebdesign.png" width="100%" alt=""></div>
                <div class="col-xs-19 pl15">
                  <h4 class="font-alt">Responsive Design</h4>
                  <p class="nm">Interviewer is responsive and developed in nodeJS which makes it highly scalable.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div data-toggle="waypoints" data-showanim="fadeInRight" data-trigger-once="true" class="table-layout animation">
                <div class="col-xs-2 valign-top"><img src="/dist/image/icons/seoplanning.png" width="100%" alt=""></div>
                <div class="col-xs-10 pl15">
                  <h4 class="font-alt">SAS Application</h4>
                  <p class="nm">Interviewer is developed as a SAS based application thus providing it with even a larger group of audience.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div data-toggle="waypoints" data-showanim="fadeInRight" data-trigger-once="true" class="table-layout animation">
                <div class="col-xs-2 valign-top"><img src="/dist/image/icons/branddevelopment.png" width="100%" alt=""></div>
                <div class="col-xs-10 pl15">
                  <h4 class="font-alt">Blazing Fast</h4>
                  <p class="nm">Since one of the key features of nodeJS is speed, Interviewer is fast.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- / END row-->
          <!-- START row-->
          <div class="row">
            <div class="col-md-4">
              <div data-toggle="waypoints" data-showanim="fadeInLeft" data-trigger-once="true" class="table-layout animation mb0">
                <div class="col-xs-2 valign-top"><img src="/dist/image/icons/affiliatemarketing.png" width="100%" alt=""></div>
                <div class="col-xs-19 pl15">
                  <h4 class="font-alt">Worth Every Peny</h4>
                  <p class="nm">Interviewer proves to be worthy of your time and money.</p>
                </div>
              </div>
            </div>
            <div class="mb15 visible-xs visible-sm"></div>
            <div class="col-md-4">
              <div data-toggle="waypoints" data-showanim="fadeInLeft" data-trigger-once="true" class="table-layout animation mb0">
                <div class="col-xs-2 valign-top"><img src="/dist/image/icons/targetaudience.png" width="100%" alt=""></div>
                <div class="col-xs-10 pl15">
                  <h4 class="font-alt">Build With You In Mind</h4>
                  <p class="nm">Being a SAS based application it is build with You in mind.</p>
                </div>
              </div>
            </div>
            <div class="mb15 visible-xs visible-sm"></div>
            <div class="col-md-4">
              <div data-toggle="waypoints" data-showanim="fadeInLeft" data-trigger-once="true" class="table-layout animation mb0">
                <div class="col-xs-2 valign-top"><img src="/dist/image/icons/customcoding.png" width="100%" alt=""></div>
                <div class="col-xs-10 pl15">
                  <h4 class="font-alt">Clean Code</h4>
                  <p class="nm">Developed with nodeJS using express, MongoDB, Jade, JQuery.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- / END row-->
        </div>
      </section>
      <!-- / END Features Section-->
      <!-- START Lovely Client-->
      <section class="section bgcolor-white">
        <div class="container">
          <!-- START Section Header-->
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center">
                <h1 class="section-title font-alt mb25">Lovely Client</h1>
              </div>
            </div>
          </div>
          <!-- / END Section Header-->
          <!-- carousel-->
          <div id="lovely-client" class="owl-carousel">
            <!-- client #1-->
            <div class="item text-center"><a href="javascript:void(0);"><img src="/dist/image/client/Google.png" height="140" width="240" alt="Google Logo"></a></div>
            <!-- / client #1-->
            <!-- client #2-->
            <div class="item text-center"><a href="javascript:void(0);"><img src="/dist/image/client/Apple.png" height="100" width="100" alt="Apple Logo"></a></div>
            <!-- / client #2-->
            <!-- client #3-->
            <div class="item text-center"><a href="javascript:void(0);"><img src="/dist/image/client/Facebook.png" height="100" width="120" alt="Facebook Logo"></a></div>
            <!-- / client #3-->
            <!-- client #4-->
            <div class="item text-center"><a href="javascript:void(0);"><img src="/dist/image/client/Oracle.png" height="100" width="200" alt="Oracle Logo"></a></div>
            <!-- / client #4-->
            <!-- client #5-->
            <div class="item text-center"><a href="javascript:void(0);"><img src="/dist/image/client/LG.png" height="100" width="140" alt="LG Logo"></a></div>
            <!-- / client #5-->
            <!-- client #6-->
            <div class="item text-center"><a href="javascript:void(0);"><img src="/dist/image/client/Dell.png" height="100" width="100" alt="Dell Logo"></a></div>
            <!-- / client #6-->
          </div>
          <!-- / carousel-->
        </div>
      </section>
      <!-- / END Lovely Client-->
      <!-- START To Top Scroller--><a href="#" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%" class="totop animation"><i class="ico-angle-up"></i></a>
      <!-- / END To Top Scroller-->
    </section>
    <!-- / END Template Main-->
    <!-- START Template Footer-->
    <footer role="contentinfo" class="bgcolor-dark pt25">
      <!-- container-->
      <div class="container mb25">
        <!-- row-->
        <div class="row">
          <!-- About-->
          <div class="col-md-4">
            <h4 class="font-alt mt0">ABOUT ME</h4>
            <p>Interviewer is a nodeJS project developed by me for learning purpose and I hope I did a good job.</p>
            <p>
              I am a graduate IT Engineer and an MS aspirant
              Currently I have shifted my interest towards web development
              and since nodeJS seems to be a promising language I decided to choose nodeJS.
            </p><a href="javascript:void(0);" class="text-primary">Learn More About Me</a>
          </div>
          <div style="margin-bottom:25px;" class="visible-sm visible-xs"></div>
          <!-- / About-->
          <!-- Address + Social-->
          <div style="background: url('/dist/image/others/map-vector.png') no-repeat center center;background-size: 100%;" class="col-md-4">
            <h4 class="font-alt mt0">ADDRESS</h4>
            <address><strong>Twitter, Inc.</strong><br>                            795 Folsom Ave, Suite 600<br>                            San Francisco, CA 94107<br><abbr title="Phone">P:</abbr> (123) 456-7890</address>
            <h4 class="font-alt mt0">STAY CONNECT</h4><a href="javascript:void(0);" data-toggle="tooltip" title="Facebook" class="text-muted mr15"><i class="ico-facebook2"></i></a><a href="javascript:void(0);" data-toggle="tooltip" title="Twitter" class="text-muted mr15"><i class="ico-twitter2"></i></a><a href="javascript:void(0);" data-toggle="tooltip" title="Vimeo" class="text-muted mr15"><i class="ico-vimeo"></i></a><a href="javascript:void(0);" data-toggle="tooltip" title="Flickr" class="text-muted mr15"><i class="ico-flickr2"></i></a><a href="javascript:void(0);" data-toggle="tooltip" title="Google+" class="text-muted mr15"><i class="ico-google-plus2"></i></a><a href="javascript:void(0);" data-toggle="tooltip" title="Instagram" class="text-muted mr15"><i class="ico-instagram2"></i></a>
          </div>
          <div style="margin-bottom:25px;" class="visible-sm visible-xs"></div>
          <!-- / Address + Social-->
          <!-- Newsletter-->
          <div class="col-md-4">
            <h4 class="font-alt mt0">NEWS LETTER</h4>
            <form role="form">
              <div class="form-group">
                <p class="form-control-static">Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
              </div>
              <div class="form-group">
                <input id="newsletter_email" type="email" placeholder="Enter email" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Subscribe Now</button>
            </form>
          </div>
          <!-- / Newsletter-->
        </div>
        <!-- / row-->
      </div>
      <!-- / container-->
      <!-- bottom footer-->
      <div class="footer-bottom pt15 pb15 bgcolor-dark bgcolor-dark-darken10">
        <!-- container-->
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <!-- copyright-->
              <p class="nm text-muted">© Copyright 2014 by<a href="javascript:void(0);" class="text-white">Interviewer</a>. All Rights Reserved.</p>
              <!-- / copyright-->
            </div>
            <div class="col-sm-6 text-right hidden-xs"><a href="javascript:void(0);" class="text-white">Privacy Policy</a><span class="ml5 mr5">•</span><a href="javascript:void(0);" class="text-white">Terms of Service</a></div>
          </div>
        </div>
        <!-- / container-->
      </div>
      <!-- / bottom footer-->
    </footer>
    <!-- / END Template Footer-->
    <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time)-->
    <!-- Application and vendor script : mandatory-->
    <script type="text/javascript" src="/dist/javascript/vendor.js"></script>
    <script type="text/javascript" src="/dist/javascript/core.js"></script>
    <script type="text/javascript" src="/dist/javascript/frontend/app.js"></script>
    <!-- / Application and vendor script : mandatory-->
    <!-- Plugins and page level script : optional-->
    <script type="text/javascript" src="/dist/plugins/smoothscroll/js/smoothscroll.js"></script>
    <script type="text/javascript" src="/dist/plugins/owl/js/owl.carousel.js"></script>
    <script type="text/javascript" src="/dist/plugins/layerslider/js/greensock.js"></script>
    <script type="text/javascript" src="/dist/plugins/layerslider/js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="/dist/plugins/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <script type="text/javascript" src="/dist/javascript/frontend/home/home-v1.js"></script>
    <!-- / Plugins and page level script : optional-->
    <!-- / END JAVASCRIPT SECTION-->
  </body>







  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="/" ng-click="userLogs('Ebay symbol')">Ebay</a> -->
        <a class="navbar-brand" href="/" ng-click="userLogs('Ebay symbol')"><img src="images/ebay.png"></a>
        <span class="navbar-text" ng-if= !currentUser>Hi <a href="/login"> SignIn </a> OR <a href="/login"> SignUp </a> </span>
        <span class="navbar-text" ng-if= currentUser>Hi <a href="/profile/personalDetails"> {{currentUser.firstName}} </a>!</span>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/shoppingCart" class="btn" ng-click="userLogs('Shopping Cart')"><span class="icon-shopping-cart">Cart</span></a></li>
          <li><a href="/profile/personalDetails" ng-click="userLogs('Profile link')">My ebay</a></li>
          <li ng-if= !currentUser><a href="/login">Login</a></li>
          <!-- <li class="dropdown" ng-if=currentUser>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{currentUser.firstName}} {{currentUser.lastName}}
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/profile" ng-click="userLogs('Profile link')">Profile</a></li>
              <li><a href="/logout" ng-click="userLogs('Logout')">Logout</a></li>
            </ul>
          </li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
