

    <!-- Portfolio Grid Section -->

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Choose your problem category</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

                <!-- loop for all categories -->
                <div class="col-sm-4 portfolio-item" ng-repeat="category in categories">
                    <a href="" ng-click="toServicesPage(category._id)" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x">
                                    <p>{{category.name}}</p>
                                </i>
                            </div>
                        </div>
                        <img src="img/portfolio/cake.png" class="img-responsive">
                    </a>
                    <p style="padding-left: 150px;">{{category.name}}</p>

                </div>

                <!-- for adding new categories - available to moderators and users -->
                <div class="col-sm-4 portfolio-item" ng-if="currentUser.userAccessLevel != 'admin' ">
                    <a href="" ng-click="toCategoryPage()" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-plus-circle fa-2x">
                                    <p>Add a new service</p>
                                </i>
                            </div>
                        </div>
                         <img src="img/portfolio/plus.png" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
    </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
