<div class="container col-lg-6" style="padding: 25px; margin-left: 250px; margin-top: 100px;" ng-controller="MainController">
  <form class="form-horizontal">
    <fieldset>
      <legend align="center">Make your payment</legend>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
        <div class="col-sm-9">
          <input type="Number" class="form-control" name="creditCardNumber" id="creditCardNumber" ng-model="creditCardNumber" placeholder="Debit/Credit Card Number" required>
          <span ng-if="creditCardNumber < 1000000000000000 || creditCardNumber > 9999999999999999"> <b> Error: Credt card number invalid </b></span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-3">
              <select class="form-control col-sm-2" name="expiry-month" id="expiry-month" required>
                <option>Month</option>
                <option value="01">Jan (01)</option>
                <option value="02">Feb (02)</option>
                <option value="03">Mar (03)</option>
                <option value="04">Apr (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">Aug (08)</option>
                <option value="09">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
              </select>
            </div>
            <div class="col-xs-3">
              <select class="form-control" name="expiry-year" required>
                <option value="13">2013</option>
                <option value="14">2014</option>
                <option value="15">2015</option>
                <option value="16">2016</option>
                <option value="17">2017</option>
                <option value="18">2018</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
        <div class="col-sm-3">
          <input type="Number" class="form-control" name="cvv" id="cvv" ng-model="cvv" placeholder="Security Code" required>
          <span ng-if="cvv < 100 || cvv > 999"> <b> Error: invalid CVV </b></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" ng-disabled = "creditCardNumber < 1000000000000000 || creditCardNumber > 9999999999999999 || creditCardNumber == null || cvv < 100 || cvv > 999 || cvv == null" class="btn btn-success" ng-click="checkout()">Checkout</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
