
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



    <!-- Contact Section -->
    <section>
<div class="container" style="margin-left:150px">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>How may we help you?</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/repairs.png" class="img-responsive img-centered" alt="" style="height: 150px; width:200px;">

                                 <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">Name</label>
                                <input type="name" ng-model="formData.problemname" class="form-control"  placeholder="Enter your name" id="name"><!-- required data-validation-required-message="Please enter your email address.">-->
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="address">Contact</label>
                                <input type="address" ng-model="formData.usercontact" class="form-control"  placeholder="Preferred contact: email or phone" id="address"><!-- required data-validation-required-message="Please enter your email address.">-->
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="address">Address</label>
                                <input type="address" ng-model="formData.useraddress" class="form-control"  placeholder="Address" id="address"><!-- required data-validation-required-message="Please enter your email address.">-->
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>


                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="desc">Description</label>
                                <textarea rows="1" ng-model="formData.problemdescription" class="form-control" cols="50" name="description" placeholder ="Descirbe your problem" style="font-family:Times New Roman;color:#919599" ></textarea>
                               <!-- <input type="tel" class="form-control" placeholder="Password" id="password" >--><!--required data-validation-required-message="Please enter your password">-->
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="desc">specialization</label>
                                <textarea rows="1" ng-model="formData.specialization" class="form-control" cols="50" name="specialization" placeholder ="Add a specialization for this job" style="font-family:Times New Roman;color:#919599" ></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                           <div class="row">
                            <div class="form-group col-xs-12" style="margin-left:280px">
                                <button type="submit" ng-click="submitproblem()" class="btn btn-success btn-lg" style="margin-top:5px;">Submit</button>

                            </div>


                        </div>

                            <ul class="list-inline item-details">
                                <!--<li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="#">Pluming </a>
                                    </strong>
                                </li>-->
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            </section>



    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>
