 <head>
    <style>
       .left-menu
       {
       position:fixed;
       height:100%;
       width:200px;
       border-right: 1px solid #b7babf;
       }
       .username
       {
       position:relative;
       background-color:#f2f5f9;
       height:30px;
       font-size: 20px;
       margin-right:10px;
       }
       .clusterslist{
       font-size:18px;
       text-align:center;
       background-color:#30db96;
       margin-left:10px;
       margin-right: 10px;
       }
       .button{
       background-color:#30db96;
       height:25px;
       width:100px;
       position:fixed;
       left: 85%;
       text-align: center;
       font-size: 20px;
       color:white;
       }
       .main_stage{
       width:900px;
       height:2000px;
       position:fixed;
       top:10%;
       left:20%;
       }
       .box{
       height:200px;
       width:200px;
       border: 3px solid #b7babf;
       padding-top:3px;
       display:inline-block;
       }
       .innerbox{
       background-color:#edeff2;
       height:190px;
       width:190px;
       display: table;
       margin: 0 auto;
       margin-top:2px;
       }
       .icon{

       display: table;
       margin: 0 auto;
       height:155px;
       width:155px;
       }
       .img_title{
      font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
      font-size:20px;
      display: table;
       margin: 0 auto;

       }

    </style>
    <title>Home</title>
 </head>
 <body>
   <div class="row">
        <div class="button" id = "logout">
           log out
        </div>
        <div class="left-menu">
           <div class = "username">
              <p> Welcome, John Doe</p>
              <div class="clusterslist">
                 <p>Your Clusters</p>
              </div>
           </div>
        </div>
        <div class = "main_stage">
           <div class = "box">
              <div class="innerbox">
                 <div class="icon">
                     <img src="./icons/joePlumber.png" height="155px" width="155px">
                 </div>
                 <div class="img_title">Plumber</div>
              </div>
           </div>
           <div class = "box">
              <div class="innerbox">
                 <div class="icon">
                      <img src="../icons/joePlumber.png" height="155px" width="155px">
                 </div>
                 <div class="img_title">Electrician</div>
              </div>
           </div>
           <div class = "box">
              <div class="innerbox">
                 <div class="icon">
                      <img src="../icons/joePlumber.png" height="155px" width="155px">
                 </div>
                 <div class="img_title">Garbage Disposal</div>
              </div>
           </div>
           <div class = "box">
              <div class="innerbox">
                 <div class="icon">
                      <img src="/Users/huzaifa.aejaz/Desktop/HTML files/icons/joePlumber.png" height="155px" width="155px">
                 </div>
              </div>
           </div>
           <div class = "box">
              <div class="innerbox">
                 <div class="icon">
                      <img src="/Users/huzaifa.aejaz/Desktop/HTML files/icons/joePlumber.png" height="155px" width="155px">
                 </div>
              </div>
           </div>
           <div class = "box">
              <div class="innerbox">
                 <div class="icon">
                      <img src="/Users/huzaifa.aejaz/Desktop/HTML files/icons/joePlumber.png" height="155px" width="155px">
                 </div>
              </div>
           </div>
           <div class = "box">
              <div class="innerbox">
                 <div class="icon">
                 </div>
              </div>
           </div>
        </div>
    <div> <!-- div row ends here -->
 </body>
